<!DOCTYPE html>
<html ng-app="ngIndex">
	<head>
		<title>Love Mentor</title>
		<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great|Poiret+One|Bad+Script|Marck+Script|Raleway:400,100|Amatic+SC' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='stylesheets/style.css' />
		<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome/css/font-awesome.css">

	</head>
	<body ng-controller="indexCtrl">

		<div class="contentFrame" id="content" ng-init="startBlock = true"> 
			<div class="start" ng-show="startBlock" ng-click="start()">
				<div class="heart large" ></div>
				<div class="word2">START</div>
			</div>
			<div class="loginFrame" ng-show="loginBlock">
				<div class="loginTitle" ng-click="getInbox()">Login With</div>
				<i class="fa fa-facebook-official fa-5x" ng-click="login('fb');"></i>
				<i class="fa fa-wechat fa-5x" ng-click="login('wechat');"></i>		
				<i class="fa fa-renren fa-5x" ng-click="login('ren');"></i>
			</div>

			<div class="searchFrame" ng-show="friendBlock" ng-init="searching = false; done=false">
				<div class="searchTitle"> {{ app }} </div>
				{{message}}

				<div class="searchScroll" ng-show="!searching && !done" id="friendList">
					<div class="searchFilter">
						<input type="text" name="friend" ng-model="friendName">
						<i class="fa fa-search"></i>
					</div>
					<div class="searchRoll" ng-repeat="friend in friends | filter : friendName">
						<!-- <div class="photo" style="background:url('//graph.facebook.com/{{friend.fbId}}/picture?width=60')" ></div> -->
						<div class="photo" style="background:url({{friend.photo}})"></div>
						<div class="name" ng-bind="friend.name"></div>
						<div class="submit" ng-click="submit(friend); searching = true; getInbox();">Submit</div>
					</div>
					<div class="top" id="top" ng-click="scrollTop()"><i class="fa fa-chevron-circle-up"></i></div>
					<div class="more" ng-click="moreFriends()">{{friends.length === 0 && 'Search' || 'More'}}</div>
				</div>
				<div class="searchScroll" ng-show="searching || done">
					<div class="backward" ng-click="backward();"><i class="fa fa-chevron-left"></i> Back</div>
					<div class="name">{{submitFriend.name}} 對你有好感的機率有</div>

					<div id="result">
					    <img id="heart" src="images/bgh.png">
					    <svg id="fillgauge1" width="300" height="270"></svg>
					</div>

				</div>

			</div>

		</div>

		<div class="logo">
			Love Mentor
		</div>

		<div loading-indicator id="in" class="loading">
		    <div class="heart heart1"></div>
			<div class="heart heart2"></div>
			<div class="word">Love Mentor</div>
		</div>


		<footer>
			2015 LoveMentor All Rights Reserved.
		</footer>

		<script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
		<script src="javascripts/angular.min.js" type="text/javascript"></script>
		<script src="javascripts/d3.v3.min.js" language="JavaScript"></script>
	    <script src="javascripts/liquidFillGauge.js" language="JavaScript"></script>
		<script src="javascripts/index.js" type="text/javascript"></script>
		<script type="text/javascript" src="http://connect.facebook.net/zh_TW/all.js"></script>
		<script>
			FB.init({
				appId      : '1608004206149872',
				status     : true,
				xfbml      : true,
				version    : 'v2.3' // or v2.0, v2.1, v2.0
			});
			// on scroll, let the interval function know the user has scrolled
			var didScroll ;
			// run hasScrolled() and reset didScroll status
			
			$('#friendList').scroll(function(){
				console.log('hi')
				didScroll = true;
				$('#top').addClass('topScroll')
			})
			setInterval(function() {
			  if (didScroll) {
			    didScroll = false;
				$('#top').removeClass('topScroll')
			  } 
			}, 250);
		</script>
	</body>
</html>
