<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<button onclick="FBlogin()">Login ^.^</button>
		<input type="text" name="selected" placeholder="Enter your friend's name"/>
		<input type="submit" onclick="submitSelectedFriend()">
		<script type="text/javascript" src="http://connect.facebook.net/zh_TW/all.js"></script>
		<script src="javascripts/fb_utils.js"></script>
		<script>
			FBinit();
		</script>
	</body>
</html>